<nb-card-header>
  <div>Data Stream Viewer -
    <ng-container *ngIf="alive | async; else DISCONNECTED">
        <span class="connected">
            <div class="icon connected">
              <i class="fa fa-cog" nbPopover="Connected"></i>
            </div>
            Connected
        </span>
    </ng-container>
    <ng-template #DISCONNECTED>
      <span class="disconnected">
        <div class="icon">
            <i class="fa fa-ban" nbPopover="Disconnected"></i>
        </div>
        Disconnected
      </span>
    </ng-template>
    <ng-container *ngIf="(pause | async) && (alive | async);">
      |
      <span class="paused">
        <div class="icon">
            <i class="fa fa-clock" nbPopover="Paused"></i>
        </div>
        Paused
      </span>
    </ng-container>
    <button *ngIf="pause.getValue() && (alive | async);" (click)="togglePause(false);" class="btn btn-secondary btn-xs"><i class="fa fa-play" nbPopover="Resume"></i> Resume</button>
    <button *ngIf="!pause.getValue() && (alive | async);" (click)="togglePause(true);" class="btn btn-secondary btn-xs"><i class="fa fa-pause" nbPopover="Pause"></i> Pause</button>
  </div>

  <div class="form-group">
    <input #filterData (keyup)="filterResults(filterData.value)" fullwidth="" nbinput="" placeholder="Filter" status="info" type="text" class="input-full-width input-md input-info input-rectangle">
  </div>

</nb-card-header>
<nb-card-body>

  <div *ngIf="!checkEmpty(dataCard.data) && (alive | async);">Loading Streams...Please Wait...
      <span class="connected">
      <div class="icon connected">
          <i class="fa fa-sync-alt" nbPopover="Loading Stream..."></i>
      </div>
      </span>
  </div>
  <div class="lists row" *ngIf="checkEmpty(dataCard.data)">
    <div class="col-lg-12">
      <nb-card class="own-scroll">
        <!-- <nb-card-header></nb-card-header> -->
        <nb-list>
          <nb-list-item *ngFor="let dataItem of dataCard.data | filterPipe: filterData.value; let i = index;">
            <ngx-data-item [itemIndex]="i" [item]="dataItem"></ngx-data-item>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</nb-card-body>
