@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  display: flex;
  flex-direction: column;
  flex: 1;

  nb-tab {
    overflow: hidden;
  }

  .no-scroll {
    overflow: hidden;
  }

  .infinite-cards, lists {
    nb-card {
      &.own-scroll {
        height: 75vh;
        width: 99%;
        position: relative;
        overflow: scroll;
      }
    }
  }

  nb-list-item.ng-star-inserted {
    background: #444343;
  }

  nb-card-header {
    flex-direction: row;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }

  nb-card-body {
    padding: 1rem;
    flex-direction: column;
    flex: 1;
    // overflow: hidden;
  }

  .connected {
    color: rgba(15, 190, 15, 0.8);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  .disconnected {
    color: rgba(207, 30, 18, 0.8);
  }

  .paused {
    color: rgba(104, 104, 104, 0.8);
  }

  .icon {
    display: inline-block;
    width: 1.25rem;
    padding: 1.25rem 0;
    text-align: center;
    font-size: 1.25rem;

    i:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  /deep/ canvas {
    border-bottom-left-radius: nb-theme(card-border-radius);
    border-bottom-right-radius: nb-theme(card-border-radius);
  }

}
