@import '../../styles/themes';

@include nb-install-component() {
  h6 {
    margin-bottom: 0.875rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 2.575rem;

    a {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 4.15rem;
      height: 4.15rem;
      border-radius: nb-theme(radius);
      background-color: nb-theme(color-white);
      border: 2px solid transparent;
      margin: 0.875rem;
      text-decoration: none;
      font-size: 2.25rem;
      color: nb-theme(color-fg);

      &.selected {
        color: nb-theme(color-success);
        border-color: nb-theme(color-success);
      }

      @include nb-for-theme(cosmic) {
        box-shadow: 0 4px 14px 0 rgba(19, 19, 94, 0.4);
        background-color: #3e367e;
        border: 2px solid #3e367e;
        &.selected {
          color: nb-theme(link-color);
        }
      }
    }
  }

  .settings {
    margin-bottom: 1em;
  }

}
