 @mixin ngx-pace-theme() {

  .pace .pace-progress {
    background: nb-theme(color-fg-highlight);
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px nb-theme(color-fg-highlight), 0 0 5px nb-theme(color-fg-highlight);
  }

  .pace .pace-activity {
    display: none;
  }
}
