// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  .outline {
    outline: 1px solid #ccc;
    background-color: #525252;
  }
  .pretty-json {
    // background-color: #525252;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
  }
  .string { color: #f6eed4; }
  .number { color: #fcdb33; }
  .boolean { color: rgb(28, 28, 255); }
  .null { color: #e9a4be; }
  .key { color: #afde98; }
  .highlight {
    background: yellow;
    color: black;
    padding: 0px;
  }

};
