<nb-tabset>
  <nb-tab tabTitle="Streams">
      <nb-card size="large">
          <div class="stream-container">
                <ngx-stream-viewer></ngx-stream-viewer>
          </div>
        </nb-card>
  </nb-tab>
  <nb-tab tabTitle="PsynchoQL">
    <nb-card size="xlarge" status="info">
      <nb-card-header class="info-header">GraphiQL Explorer</nb-card-header>
      <nb-card-body>
        <iframe [src]="gqlExt" width="100%" height="99%"></iframe><br/>
      </nb-card-body>
    </nb-card>
  </nb-tab>
</nb-tabset>
