@import '../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

  .stream-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .info-header {
    color: #fff;
    font-weight: bold;
  }

  ngx-stream-panel-header {
    padding: 0 1.25rem;
  }
}
