
@import '../../../../../@theme/styles/themes';

:host {

  /* styles for '...' */
  article {
    color: #ffffff;
    overflow: hidden;     /* hide text if it more than N lines  */
    position: relative;   /* for set '...' in absolute position */
    line-height: 1.2em;   /* use this value to count block height */
    max-height: 3.1em;    /* max-height = line-height (1.2) * lines max number (3) */
    text-align: left;  /* fix problem when last visible word doesn't adjoin right side  */
    margin-right: -1em;   /* place for '...' */
    padding-right: 1em;
    cursor: pointer;
  }
  /* create the ... */
  article:before {
    font-weight: bold;
    content: '. . .';     /* points in the end */
    position: absolute;   /* absolute position */
    right: 0;             /* set position to right bottom corner of block */
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  article:after {
    content: '';          /* points in the end */
    position: absolute;   /* absolute position */
    right: 0;             /* set position to right bottom corner of text */
    width: 1em;           /* set width and height */
    height: 1em;
    margin-top: 0.2em;
  }
  .article-override {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
  }
  .timestamp {
    float: right;
    color: #818181;
    font-family: courier;
  }
  .doughnutSmall {
    border: 2px solid #fff;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    display: inline-block;
  }
  .label {
    color: #b9b9b9;
  }
  .inline {
    display: inline-block;
  }
  .btn-right {
    float: right;
  }
  .btn-open {
    // padding: 3px 6px;
    border-radius: 0 9px;
    font-size: 10px;
    position: relative;
    cursor: pointer;
    z-index: 99;
  }
  .btn-close {
    // padding: 3px 6px;
    border-radius: 9px 0;
    font-size: 10px;
    position: relative;
    cursor: pointer;
    z-index: 99;
  }

}
