<div style="margin-top:8px;">
  <div class="inline label">
    <div style="margin-right: 2px; border-color: rgb(247, 48, 29);" class="doughnutSmall"></div>
    &nbsp;<span [innerHTML]="displayJsonHtml(item.data.eventType)"></span>
  </div>
  <div class="inline timestamp">{{item.data.timeStamp}}</div>
</div>
<article *ngIf="!hideBtn[itemIndex]" class="article-override" [innerHTML]="displayJsonHtml(item)"></article>

<button *ngIf="!hideBtn[itemIndex]" class="btn btn-info btn-xs btn-right btn-open" (click)="showEvent(item, itemIndex)">Show Event</button>

<div *ngIf="hideBtn[itemIndex]" class="outline">
<div class="btn btn-info btn-xs btn-right btn-close" (click)="hideEvent(itemIndex)">Close X</div>
<pre id="pretty-{{itemIndex}}" class="pretty-json" [innerHTML]="prettyJSON"></pre>
</div>
