<div class="row">
  <!-- <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-12">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div> -->

  <div class="col-xxl-12">
    <!-- <ngx-charts-panel></ngx-charts-panel> -->
    <ngx-monitor-panel></ngx-monitor-panel>
  </div>
</div>

<div class="row">
  <div class="col-xxl-6">
    <!-- <ngx-progress-section></ngx-progress-section> -->
  </div>
  <div class="col-xxl-6">
    <!-- <ngx-legend-chart></ngx-legend-chart> -->
  </div>
</div>
